* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input {
    outline-color: rgba(50, 115, 220, 0.3);
    width: 120px;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Medium.ttf')format('truetype');
    font-style: normal;
    font-weight: 500;
}

body, button, input {
    font-family: 'Rubik';
}

.page {
    margin: 32px 130px 0 130px;
}

@media (max-width: 1199px){
    .page {
        margin: 32px 100px 0 100px;
    }
}

@media (max-width: 575px){
    .page {
        margin: 16px 20px 0 20px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px){
    .header {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header__logo {
    align-self: flex-end;
    margin-right: 11px;
}

.logo__text {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}

@media (max-width: 991px){
    .logo__text {
        display: none;
    }
}

.logo__image {
    vertical-align: middle;
}

.header__search {
    display: flex;
    align-self: flex-end;
    margin: 0 11px;
    flex-wrap: nowrap;
}

@media (max-width: 767px){
    .header__search {
        order: 1;
        margin: 24px 40px 0 40px;
    }
}

.search__input-field {
    width: 320px;
    vertical-align: middle;
    margin-right: 32px;
}

@media (max-width: 1199px) {
    .search__input-field {
        width: 300px;
        margin-right: 18px;
    }
}

@media (max-width: 991px) {
    .search__input-field {
        width: 220px;
        margin-right: 14px;
    }
}

@media (max-width: 575px) {
    .search__input-field {
        width: 160px;
        margin-right: 10px;
    }
}

.input-field {
    display: inline-block;
    color: #828282;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-bottom: 1px solid #333333;
    padding: 6px 0;
}

.button {
    display: inline;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E5261E;
}

.button--black {
    color: #333333;
}

.search__button {
    vertical-align: middle;
}

.header__logout {
    align-self: flex-end;
    padding: 6px 0;
    margin-left: 11px;
    width: 284px;
}

.logout__name {
    display: inline-block;
    margin-right: 16px;
    max-width: 114px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logout__input {
    display: inline-block;
    margin-right: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    color: #333333;
    max-width: 114px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 991px){
    .logout__name, .logout__input {
        margin-right: 8px;
    }
}

.page__tabs {
    margin: 32px 0 42px 0;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tabs__tab {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    font-weight: 500;
    font-size: 28px;
    color: #333333;
    outline-style: none;
    margin: 0 12px;
    padding: 9px 0;
}

.tabs__tab--active {
    color: #E5261E;
    border-bottom: 2px solid #E5261E;   
}

@media (max-width: 575px) {
    .tabs__tab {
        font-size: 24px;
        padding: 4px 0;
    }
}

.content-block {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
}

.content-block__scrollbar {
    display: flex;
    overflow-x: auto;
    margin-top: 16px;
}

.content-block__card {
    flex-shrink: 0;
    margin-right: 20px;
    width: 280px;
}

.content-block__card:last-child {
    margin-right: 0;
}

.film-card__media {
    display: flex;
    position: relative;
    width: 100%;
    height: 370px;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 16px;
}

.film-card__image {
    height: 100%;
    border-radius: 8px;
}

.film-card__description{
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    width: 100%;
    height: 370px; 
    border-radius: 8px;
    box-sizing: border-box;
    color: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    line-height: 140%;
    overflow: hidden;
    transition: transform 0.2s;
    transform: translateY(-100%);
}

.film-card__media:hover .film-card__description {
    transform: translateY(0);
}

.film-card__title {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    line-height: 24px;
}

.genre-card {
    position: relative;
    height: 208px;
}

.genre-card__background {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    transition: opacity 0.3s;
}

.genre-card:hover .genre-card__background {
    opacity: 1;
}

.genre-card__image {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.genre-card__text {
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    bottom: 24px;
    width: 100%;
    text-align: center;
}

.channels-scrollbar {
    display: flex;
    flex-direction: column;
    overflow: visible auto;
    max-height: 700px;
}

.channel {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding-top: 21px;
    padding-bottom: 19px;
    margin-bottom: 16px;
}

.channel__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 122px;
}

.channel__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 17px;
    padding-left: 21px;
}

.channel__telecast {
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    padding-bottom: 12px;
    padding-left: 21px;
}

.channel__telecast:first-child {
    color: #E5261E;
}

.channel__time {
    padding-right: 16px;
}

.channel__telecast:last-child {
    padding-bottom: 0;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    padding: 22px 130px 25px 130px;
    margin-top: 72px;
    line-height: 19px;
    font-size: 16px;
}

@media (max-width: 1199px){
    .footer {
        padding: 20px 100px 21px 100px;
        line-height: 15px;
        font-size: 14px;
    }
}

@media (max-width: 575px){
    .footer {
        padding: 10px 20px 11px 14px;
        line-height: 11px;
        font-size: 10px;
    }
}


.footer__info {
    margin-left: 40px;
    font-style: normal;
}

@media (max-width: 575px){
    .footer__info {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .footer__htc-logo {
        display: none;
    }
}

.footer__row {
    margin-bottom: 6px;
    color: #333333;
}

.footer__row:last-child {
    margin-top: 10px;
    margin-bottom: 0;
    color: #1F4766;
}

.hidden {
    display: none;
}