* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/Rubik-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/Rubik-Medium.ttf')format('truetype');
    font-style: normal;
    font-weight: 500;
}

body, button {
    font-family: 'Rubik';
}

.page {
    margin: 32px 130px 0 130px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    align-self: flex-end;
}

.logo__text {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 11px;
}

.logo__image {
    vertical-align: middle;
}

.header__search {
    align-self: flex-end;
}

.search__input-field {
    width: 320px;
    vertical-align: middle;
}

.input-field {
    display: inline-block;
    color: #828282;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-bottom: 1px solid #333333;
    padding: 6px 0;
}

.button {
    display: inline;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E5261E;
}

.button--black {
    color: #333333;
}

.search__button {
    margin-left: 32px;
    vertical-align: middle;
}

.logout__name {
    margin-right: 16px;
}

.header__logout {
    align-self: flex-end;
    padding: 6px 0;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 32px 0 42px 0;
}

.tabs__tab {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    font-weight: 500;
    font-size: 28px;
    color: #333333;
    margin: 0 12px;
}

.tabs__tab--active {
    color: #E5261E;
    border-bottom: 2px solid #E5261E;
    padding: 9px 0;
}

.content-block {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 500;
}

.content-block__scrollbar {
    display: flex;
    overflow-x: auto;   
}

.footer {
    display: flex;
    align-items: flex-end;
    background-color: #F2F2F2;
    padding: 22px 130px 25px 130px;
}

.footer__info {
    margin-left: 40px;
    font-style: normal;
}

.footer__row {
    margin-bottom: 6px;
    color: #333333;
}

.footer__row:last-child {
    margin-top: 10px;
    margin-bottom: 0;
    color: #1F4766;
}

.hidden {
    display: none;
}